---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import About from '../components/About.astro';
import Pricing from '../components/Pricing.astro';
import References from '../components/References.astro';
import Clients from '../components/Clients.astro';
import CallToAction from '../components/CallToAction.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="OnlyChefs - Landing page">
	<Navbar />
  <main>
    <Hero />
    <Features />
    <About />
    <Pricing />
    <References />
    <Clients />
    <CallToAction />
  </main>
  <Footer />
</Layout>

